<table class="table table-striped">
  <tbody *ngIf="!isLoadingData">
  <tr *ngIf="isFormInValid">
    <td colspan="100%">
      <div class="alert alert-danger" role="alert">
        <span *ngFor="let inValidFormField of inValidFormFields">{{ inValidFormField }}, </span> are required fields
      </div>
    </td>
  </tr>
  <tr  *ngFor="let programStageDataElement of programStage.programStageDataElements| orderBy : 'sortOrder': true">
    <th scope="row" *ngIf="!programStageDataElement.allowProvidedElsewhere">{{ programStageDataElement.dataElement.name }} <span  *ngIf="programStageDataElement.compulsory">*</span></th>
    <td *ngIf="!programStageDataElement.allowProvidedElsewhere">

      <div *ngIf="programStageDataElement.dataElement.optionSet"  >
        <select class="form-control" [(ngModel)]="dataValuesObject[programStageDataElement.dataElement.id]">
          <option value="">Select {{programStageDataElement.dataElement.name}}</option>
          <option *ngFor="let option of programStageDataElement.dataElement.optionSet.options" value="{{ option.code }}">{{ option.name }}</option>
        </select>
      </div>
      <div *ngIf="!programStageDataElement.dataElement.optionSet">
        <div *ngIf="programStageDataElement.dataElement.valueType == 'INTEGER' ||programStageDataElement.dataElement.valueType == 'NUMBER'">
          <input type="number" class="form-control" [(ngModel)]="dataValuesObject[programStageDataElement.dataElement.id]" >
        </div>
        <div *ngIf="programStageDataElement.dataElement.valueType == 'INTEGER_POSITIVE'">
          <input type="number" class="form-control" min="1" [(ngModel)]="dataValuesObject[programStageDataElement.dataElement.id]" >
        </div>
        <div *ngIf="programStageDataElement.dataElement.valueType == 'INTEGER_NEGATIVE'">
          <input type="number" class="form-control" max="-1" [(ngModel)]="dataValuesObject[programStageDataElement.dataElement.id]" >
        </div>
        <div *ngIf="programStageDataElement.dataElement.valueType == 'INTEGER_ZERO_OR_POSITIVE'">
          <input type="number" class="form-control" min="0" [(ngModel)]="dataValuesObject[programStageDataElement.dataElement.id]" >
        </div>
        <div *ngIf="programStageDataElement.dataElement.valueType == 'UNIT_INTERVAL'">
          <input type="text" class="form-control" [(ngModel)]="dataValuesObject[programStageDataElement.dataElement.id]" >
        </div>
        <div *ngIf="programStageDataElement.dataElement.valueType == 'PERCENTAGE'">
          <input type="text" class="form-control" [(ngModel)]="dataValuesObject[programStageDataElement.dataElement.id]" >
        </div>
        <div *ngIf="programStageDataElement.dataElement.valueType == 'TEXT'">
          <input type="text" class="form-control" [(ngModel)]="dataValuesObject[programStageDataElement.dataElement.id]" >
        </div>
        <div *ngIf="programStageDataElement.dataElement.valueType == 'COORDINATE'">
          <input type="text" class="form-control" [(ngModel)]="dataValuesObject[programStageDataElement.dataElement.id]" >
        </div>
        <div *ngIf="programStageDataElement.dataElement.valueType == 'BOOLEAN'">
          <select class="form-control" [(ngModel)]="dataValuesObject[programStageDataElement.dataElement.id]">
            <option value="">Select {{programStageDataElement.dataElement.name}}</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
        <div *ngIf="programStageDataElement.dataElement.valueType == 'TRUE_ONLY'">
          <select class="form-control" [(ngModel)]="dataValuesObject[programStageDataElement.dataElement.id]">
            <option value="">Select {{programStageDataElement.dataElement.name}}</option>
            <option value="true">Yes</option>
          </select>
        </div>
        <div *ngIf="programStageDataElement.dataElement.valueType == 'DATE'">
          <div class="input-group" >
            <input type="text" class="form-control " name="inputBeginDate" value="{{dataValuesObject[programStageDataElement.dataElement.id] | date:'MM/dd/yyyy'}}"
                   (focus)="openOrCloseDataPicker(programStageDataElement.dataElement)"
            />
            <span (click)="openOrCloseDataPicker(programStageDataElement.dataElement)" class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>

          <div *ngIf="showDatePicker[programStageDataElement.dataElement.id]"  style="position: absolute; z-index:10; min-height:290px;">
            <datepicker name="test" [showWeeks]="false" (ngModelChange)="closeDatePicker(programStageDataElement.dataElement,$event)" [(ngModel)]="dataValuesObject[programStageDataElement.dataElement.id]" ></datepicker>
          </div>
        </div>

      </div>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="cancel()" type="button" class="btn btn-warning form-control">
        Cancel
      </button>
    </td>
    <td>
      <button (click)="saveEvent()" type="button" class="btn btn-success form-control">
        Save
      </button>
    </td>
  </tr>
  <tr *ngIf="isFormInValid">
    <td colspan="100%">
      <div class="alert alert-danger" role="alert">
        <span *ngFor="let inValidFormField of inValidFormFields">{{ inValidFormField }}, </span>
        <span *ngIf="inValidFormFields.length >1">are required fields</span>
        <span *ngIf="inValidFormFields.length == 1">is required field</span>
      </div>
    </td>
  </tr>
  </tbody>
  <tfoot *ngIf="isLoadingData">
  <tr>
    <td colspan="100%">
      <app-loader [text]="'Loading...'"></app-loader>
    </td>
  </tr>
  </tfoot>
</table>
