
<h3>
  Offence Capture App
</h3>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#offences/all">Home</a></li>
  <li class="breadcrumb-item">View Offence</li>
</ol>

<div class="row">
  <div class="col-sm-9 col-md-9 col-lg-10">
    <div class="card">
      <div class="card-header">
        View Offence
      </div>
      <div class="card-block" *ngIf="(programStage && event)">
        <dhis-event [(event)]="event" [(programStage)]="programStage"></dhis-event>
      </div>
    </div>
    <div *ngIf="!(programStage && event)">
      <app-loader [text]="'Loading...'"></app-loader>
    </div>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-2">
    <div class="card">
      <div class="card-header">
        Main Menu
      </div>
      <div class="card-block">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/offences','all']">View Offence List</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>


