<h3>
  Vehicle Capture
</h3>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#/sumatra/vehicles">Home</a></li>
  <li class="breadcrumb-item active">Add Vehicle's Owner History</li>
</ol>
<div class="row">
  <div class="col-sm-9">
    <div class="card">
      <div class="card-header">
        Add Vehicle's Owner History
      </div>
      <div *ngIf="programStage">
        <dhis-event-add [(programStage)]="programStage" [(relationDataElementValueObject)]="relationDataElementValueObject"></dhis-event-add>
      </div>
      <div *ngIf="!programStage">
        <app-loader [text]="'Loading...'"></app-loader>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        Related Menu
      </div>
      <div class="card-block">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/vehicles',id,'update']">Edit Vehicle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/vehicles',id,'view']">View Vehicle</a>
          </li>
          <div class="dropdown-divider"></div>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/vehicles',id,'business-history']">Business History</a>
          </li>
          <div class="dropdown-divider"></div>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/vehicles',id,'insurances','add']">Add Insurance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/vehicles',id,'insurances']">View Insurance</a>
          </li>
          <div class="dropdown-divider"></div>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/vehicles',id,'licences','add']">Add Vehicle License</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/vehicles',id,'licences']">View Vehicle License</a>
          </li>
          <div class="dropdown-divider"></div>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/vehicles',id,'owner-history']">View Owner History</a>
          </li>
          <div class="dropdown-divider"></div>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/vehicles',id,'inspection','add']">Add Inspection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/vehicles',id,'inspection']">View Inspection</a>
          </li>
          <div class="dropdown-divider"></div>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/vehicles',id,'accidents']">Accidents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/vehicles',id,'offences']">Offences</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Main Menu
      </div>
      <div class="card-block">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#/vehicles/all">List Vehicles</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
