<h3>
  Sumatra App
</h3>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#/sumatra/vehicles">Home</a></li>
  <li class="breadcrumb-item">Vehicles</li>
</ol>
<div *ngIf="vehicleProgram" class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        Vehicle List
      </div>
      <div class="card-block">
        <dhis-table [(menuActions)]="menuActions"
                    [(programStage)]="vehicleProgram" [(eventWrapper)]="vehicles"
                    (onSearch)="search($event)" (onPageChange)="pageChange($event)"></dhis-table>
      </div>
    </div>
  </div>
</div>

