<ng2-dhis-menu [dhis2_url]="'/demo'"></ng2-dhis-menu>
<br /><br /><br />
<!--<nav>
  <a [routerLink]="['/accidents']">Accident</a>
  <a [routerLink]="['/offences']">Offences</a>
  <a [routerLink]="['/sumatra']">Sumatra</a>
  <a [routerLink]="['/community']">Community policing</a>
  <a [routerLink]="['/vehicles']">Vehicle</a>
  <a [routerLink]="['/accident-view']">Accident View</a>
  <a [routerLink]="['/drivers']">Drivers</a>
  <a [routerLink]="['/insurances']">Insurance</a>
</nav>-->
<div class="body">
  <router-outlet></router-outlet>
</div>
