<div>
  <app-loader *ngIf="!event" [text]="'Loading...'"></app-loader>
</div>
<table *ngIf="event" class="table table-striped">
  <tbody>
  <template ngFor let-programStageDataElement [ngForOf]="programStage.programStageDataElements | orderBy : 'sortOrder': true">
    <tr *ngIf="!programStageDataElement.allowProvidedElseWhere" (contextmenu)="onContextMenu($event, event)">
      <th scope="row">{{ programStageDataElement.dataElement.name }}</th>
      <td >
        <dhis-view [(event)]="event" [(dataElement)]="programStageDataElement.dataElement"></dhis-view>
      </td>
    </tr>
  </template>

  </tbody>
</table>
