<h3>
  Add New Vehicle
</h3>
<ol class="breadcrumb" >
  <li class="breadcrumb-item"><a href="#/vehicles">Home</a></li>
  <li class="breadcrumb-item active">New Vehicle</li>
</ol>

<div *ngIf="vehicleProgramStage" class="row">
  <div class="col-sm-9">
    <div class="card">
      <div class="card-header">
        Vehicle Details
      </div>
      <div class="card-block">
        <dhis-event-add [(programStage)]="vehicleProgramStage" [(relationDataElementValueObject)]="relationDataElementValueObject" ></dhis-event-add>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        Main Menu
      </div>
      <div class="card-block">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#/vehicles">List Vehicles (Home)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
