<h3>
  Add New Vehicle
</h3>
<ol class="breadcrumb" >
  <li class="breadcrumb-item"><a href="#/sumatra/vehicles">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="['/sumatra','vehicles',id]">Vehicle</a></li>
  <li class="breadcrumb-item active">Licenses</li>
</ol>

<div  class="row">
  <div class="col-sm-9 col-md-9 col-lg-10">
    <div class="card">
      <div class="card-header">
        Create Vehicle Details
      </div>
      <div class="card-block">
        <div *ngIf="vehicleProgramStage">
          <div>
            <dhis-event-add [(programStage)]="vehicleProgramStage" [(relationDataElementValueObject)]="relationDataElementValueObject" ></dhis-event-add>
          </div>
        </div>
        <div *ngIf="!vehicleProgramStage">
          <app-loader [text]="'Loading...'"></app-loader>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-2">
    <div class="card">
      <div class="card-header">
        Main Menu
      </div>
      <div class="card-block">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#/vehicles">List Vehicles</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
