<h3>
  Sumatra App
</h3>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#/sumatra/vehicles">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="['/sumatra','vehicles',id]">Vehicle</a></li>
  <li class="breadcrumb-item active">Licenses</li>
</ol>
<div *ngIf="businessHistoryProgram" class="row">
  <div class="col-sm-9">
    <div class="card">
      <div class="card-header">
        Vehicle Business License History
      </div>
      <div class="card-block">
        <dhis-table [(menuActions)]="menuActions"
                    [(programStage)]="businessHistoryProgram" [(eventWrapper)]="vehicleHistory"></dhis-table>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        Related Menu
      </div>
      <div class="card-block">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/sumatra','vehicles',id]">Back to Vehicle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/sumatra','vehicles',id,'business-history','add']">Add New Bussiness Lisence</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Main Menu
      </div>
      <div class="card-block">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#/sumatra/vehicles">List Vehicles</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
