<div class="row">
  <div class="col-sm-10">
    <h3>
      View Vehicle Business History Details!
    </h3>
  </div>
</div>
<div *ngIf="businessHistoryProgram" class="row">
  <div class="col-sm-9">
      <div>
        <dhis-table [(menuActions)]="menuActions"
                    [(programStage)]="businessHistoryProgram" [(eventWrapper)]="vehicleHistory"></dhis-table>
      </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        Related Menu
      </div>
      <div class="card-block">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/sumatra','vehicles',id,'business-history']">Bussiness History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/sumatra','vehicles',id,'business-history','add']">Add New Bussiness Lisence</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Main Menu
      </div>
      <div class="card-block">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#/sumatra/vehicles">List Vehicles</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
